/* Reset default browser styles */
body, h1, h2, ul, li, p, input, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f2f2f2;
}

h1 {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: underline;
    text-decoration-color: #851515; 
    text-decoration-thickness: 2px;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

/* Header styles */
header {
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    margin-right: 10px;
    text-decoration: none;
    color: #333;
}

nav a:hover {
    color: #851515;
}

/* Slider */

.slider-main {
    margin-left: 50px;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.slider-container {
    height: 100%;
    width: 500%;
    display: flex;
}

.each-slide {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.each-slide > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@keyframes sliding {
    0% {margin-right: 0;}
    20% { margin-right: 0;}
    25% { margin-right: -20%; }
    45% { margin-right: -20%; }
    50% { margin-right: -40%; }
    70% { margin-right: -40%; }
    75% { margin-right: -60%; }
    95% { margin-right: -60%; }
    100% { margin-right: -80%; }
}

.standard-slide {
    animation: sliding 20s infinite ease-in-out;
}

/* Carousel styles */
#carousel-slides {
    display: flex;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
  }
  
  .carousel-slide {
    flex: 0 0 100%;
    transition: transform 0.3s ease-in-out;
  }
  
  .carousel-slide.active {
    transform: translateX(0);
  }
  
  .carousel-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  
  .carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}


/* Services section styles */
#services {
    background-color: #fff;
    padding: 20px;
}

/* Partners section styles */
#partners {
    background-color: #f2f2f2;
    padding: 20px;
}

/* Contact section styles */
#contact {
    background-color: #fff;
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    align-self: flex-start;
}

button:hover {
    background-color: #555;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
